<!DOCTYPE html>
<html>
<head>
  <title>Angular QuickStart</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/styles.css">

  <!-- Polyfill(s) for older browsers -->
  <script src="~/node_modules/core-js/client/shim.min.js"></script>

  <script src="~/node_modules/zone.js/dist/zone.js"></script>
  <script src="~/node_modules/systemjs/dist/system.src.js"></script>

  <script src="~/systemjs.config.js"></script>

    
  <script>
      System.import('/app/main.js').catch(function (err) { console.error(err); });
      var URL_CONTENT = '@Url.Content("~/")';


      function UrlContent(url) {
          return URL_CONTENT + url;
      }

  </script>
</head>

<body>
    
  @RenderBody()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  
</body>
</html>