<!--{{diagnostic}}-->
<div class="form-group">
    <label for="userName">User Name</label>
    <input type="text" class="form-control" id="userName"
           required
           [(ngModel)]="model.userName" name="userName"
           #userName="ngModel">
    <div [hidden]="userName.valid || userName.pristine"
         class="alert alert-danger">
        User Name is required
    </div>
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password"
           required
           [(ngModel)]="model.password" name="password"
           #password="ngModel">
    <div [hidden]="password.valid || password.pristine"
         class="alert alert-danger">
        Password is required
    </div>

</div>

